/*Styling whole HTML
Font style and size*/
html {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	margin: 0 auto;
	max-width: 1444px;
}
/*Styling Headings*/
h1 {
	font-weight: 600; 
}
h2 {
	font-weight: 500;
	text-align: center;
	color: #3159FF;
	font-style: italic;
}
/*Gives space to sections and articles*/
header, section {
	padding-bottom: 135px;
}
article {
	padding-bottom: 75px;
}
/*center content*/
#about-section, #work-section, #interest-section, #contact-section {
	text-align: center;
}
/*CSS Grid*/
.grid {
	display: grid;
	grid-template-columns: 200px 1fr 1fr 200px;
	grid-template-areas: 
	". navigation navigation ."
	". header header ."
	". about about ."
	". work work ."
	". interest interest ."
	". contact contact .";
}
/*Navigation styling*/
.main-nav {
	text-align: right;
	grid-area: navigation;

}
/*font colour for nav*/
a, a:visited, a:hover, a:active {
	color: #3159FF;
}
.main-nav a, .main-nav a:visited, .main-nav a:hover, .main-nav a:active {
	color: #626567;
}
/*inline nav*/
.main-nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 50px;
	padding: 10px;
	font-size: 18px;
}
a {
	text-decoration: none;
}
.main-nav a:hover {
	font-weight: bold;
}
/*Header row*/
/*Grid for header*/
.header {
	grid-area: header;
	display: grid;
	grid-template-columns: auto 1fr 1fr;
	grid-template-areas: 
	"picture description contacts"
	"picture description contacts";
}
.profile-pic {
	grid-area: picture;
}
.profile-pic img {
	max-width: 400px;
	max-height: 400px;
}
.profile-name {
	font-size: 3em;
	color: #3159FF;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	border-bottom: solid;
}
.profile-description {
	grid-area: description;
	margin-top: 20px;
}
.profile-description h2 {
	font-style: italic;
	margin: 0;
	text-align: left;
	color: #000000;
}
.contact-info {
	grid-area: contacts;
	margin-top: 20px;
}
.contact-info li {
	list-style-type: none;
	text-align: right;
	margin-top: 10px;
}
.social-media {
	max-width: 50px;
	max-height: 50px;
}
.social-media:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*About row*/
/*another css grid for about section*/
.about {
	grid-area: about;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"about-header about-header about-header"
	"university university university"
	"programming design testing";

}
#about-section {
	grid-area: about-header;
}
.university {
	grid-area: university;
	margin: 50px 0;
}
.university p, .university h2 {
	line-height: 1.6;
}
.university img {
	max-height: 350px;
	max-width: 350px;
	float: left;
	shape-outside: circle();
	margin: 10px 120px 0 30px;
}
.programming {
	grid-area: programming;
}
.design {
	grid-area: design;
}
.testing {
	grid-area: testing;
}
.programming, .design, .testing {
	margin: 0 20px;
}
/*styling for images for differnt sections*/
.programming img, .design img, .testing img, .doggie-walks img, .navigation-system img {
	max-width: 300px;
	max-height: 300px;
	display: block;
	margin-right: auto;
	margin-left: auto;	
	display: block;
}
.programming p, .design p, .testing p {
	text-align: center;
}
/*Work row*/
.work {
	grid-area: work;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"work-header work-header"
	"navigation-system doggie-walks";
}
#work-section {
	grid-area: work-header;
}
.navigation-system {
	grid-area: navigation-system;
}
.doggie-walks {
	grid-area: doggie-walks;
}
/*Button for view past work*/
.navigation-system button, .doggie-walks button {
	border-radius: 5px;
  	background-color: #4EF0F0;
  	border: none;
  	text-align: center;
  	font-size: 22px;
  	padding: 20px;
  	width: 200px;
  	cursor: pointer;
  	transition: box-shadow 1s;
  	-webkit-transition: box-shadow 1s; 
  	display: block;
  	margin-right: auto;
  	margin-left: auto; 	
  	margin-top: 20px;
}
.navigation-system button:hover, .doggie-walks button:hover, .content button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*interest/hobbies row*/
.interest {
	grid-area: interest;
}
.interest p {
	text-align: center;
}
.interest img {
	max-width: 400px;
	max-height: 400px;
	border-radius: 5px;
}
.interest figure {
	display: inline-block;
	margin: 20px;
}
/*Contact row*/
.contact {
	grid-area: contact;
}
.contact p {
	text-align: center;
}
/*Styling for button to take user to top of page*/
#topIcon {
	display: none; 
  	position: fixed; 
  	bottom: 20px; 
  	right: 30px; 
  	z-index: 99; 
  	border: none; 
  	outline: none;
  	background-color: #4EF0F0; 
  	cursor: pointer; 
  	padding: 10px; 
  	border-radius: 5px; 
  	font-size: 18px; 
}
/*Work Pages Styling*/
.grid-work-page {
	display: grid;
	grid-template-columns: 200px 1fr 1fr 200px;
	grid-template-areas: 
	". navigation navigation ."
	". content content ."
	". contact contact .";
} 
.content {
	grid-area: content;
}
.content img {
	max-width: 500px;
	max-height: 500px;
	display: block;
}
.content button {
	font-size: 22px;
  	padding: 20px;
  	width: 200px;
  	cursor: pointer;
  	transition: box-shadow 1s;
  	-webkit-transition: box-shadow 1s; 
  	display: block; 	
  	margin-top: 20px;
  	border-radius: 5px;
  	background-color: #4EF0F0;
  	border: none;
}
/*Change Layout for devices with screen sizes smaller than 760px*/
@media screen and (max-width: 760px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"navigation navigation"
		"header header"
		"about about"
		"work work"
		"interest interest"
		"contact contact";
	}
	.header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"picture picture"
		"description description" 
		"contacts contacts";
	}
	.about {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"about-header about-header"
		"university university"
		"programming programming"
		"design design" 
		"testing testing";
	}
	.work {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"work-header work-header"
		"navigation-system navigation-system"
		"doggie-walks doggie-walks";
	}
	.grid-work-page {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"navigation navigation"
		"content content"
		"contact contact";
	}	 

}